{{ partial "header.html" . }}

{{if .IsHome }}
<div class="home">
{{ .Content }}
</div>
{{ else }}
<h1 class="title">{{ .Title | markdownify }}{{ if eq .Kind "term" }}<span class="small subtitle"> | <a href="{{ urlize .Type | relURL }}/">{{ .Type }}</a></span>{{ end }}</h1>
{{ with .Params.subtitle }}<h2 class="subtitle">{{ . | markdownify }}</h2>{{ end }}
<div class="main{{ if not .Content }} archive{{ end }}">
{{ .Content }}

{{ block "page-list" . }}
{{ $prevDate := "" }}
{{ range .RegularPages }}
{{ $currentDate := .Date.Format "2006-01-02" }}
{{ if ne $currentDate $prevDate }}
<div class="toc-line">
  <a href="{{ .RelPermalink }}">
    <div class="meta-line small">
      <span class="date">{{ $currentDate }}</span>
      {{ partial "meta-no-date.html" . }}
    </div>
    {{ .Title | markdownify }}
  </a>
</div>
{{ $prevDate = $currentDate }}
{{ else }}
<div class="toc-line indented">
  <a href="{{ .RelPermalink }}">
    <div class="meta-line small">
        {{ partial "meta-no-date.html" . }}
        </div>
    {{ .Title | markdownify }}
  </a>
</div>
{{ end }}
<!-- {{ block "summary" . }}
{{ end }} -->
{{ end }} 
{{ end }}
{{ partial "main_extra.html" . }}
</div>
{{ end }}

{{ partial "footer.html" . }}
