@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Source+Code+Pro&display=swap');

body {
  font-family: 'EB Garamond', serif;
}
.home blockquote {
  font-family: 'EB Garamond', serif;
}
code {
  font-family: 'Source Code Pro', monospace;
}
pre, code {
  font-size: .95em;
}